// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h2 {
  display: block;
  margin: 0px;
  padding: 0px;
  color: #121212;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
}

.session-form-outer-container {
  height: 100%;
  padding: 0px, 1em;
}

.session-form-mid-container {
  height: 100%;
  display: block;
  margin-top: 0px;
}

.session-form-inner-container {
  position: relative;
  flex: 1 1 auto;
  background-color: white;
  height: 100%;
  width: 100%;
  min-width: 16em;
  max-width: 25em;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  line-height: normal;
}