body {
  display: block;
  position: relative;
  margin: 0;
  font-size: calc(15px + 0.390625vw);
  font-family: $fontSans;
}

.page-header-container {
  position: fixed;
  width: 100%;
  z-index: 9;
}
