$black: #000000;
$white: #ffffff;
$bgBlue: #4d88f9;
$bgBlueHover: #2860d8;

$xBlue: #6493e6;
$mPurple: #8700e9;
$wwRed: #9c2c00;
$rGreen: #5c7e32;
$lYellow: #ccb40c;
$nAqua:  #0C3953;
$sOrange: #fb9b00;

$lineGray: #e6e6e6;
$bylineGray: #959595;
$hoverGray: #f4f4f4;

$errorRed: #d0021a;