header {
  width: 100%;
  height: 65px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding-right: 16px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);

  .banner-notification {
    width: 100%;
    height: 48px;
    background-color: #f4f4f4;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    font-size: 14px;
    letter-spacing: .5px;
  }

  .banner-notification-bold {
    padding-left: 12px;
    font-weight: 700;
    letter-spacing: .6px;
  }

  .icon-banner-notification {
    background-repeat: no-repeat;
  }

    .arrow {
      margin: 0px 16px 0px 24px;
      background-image: image-url('arrow.svg');
      height: 18px;
      width: 18px;
    }

    .bee {
      background-image: image-url('bee.svg');
      height: 22px;
      width: 22px;
      margin-left: 4px;
      padding-bottom: 3px;
    }

  @media (min-width: 953px) {
    .banner-form-logo-image {
      height: 30px;
    }
  }

  @media (max-width: 952px) {
    .banner-form-logo-image {
      height: 24px;
    }
  }
  
  .nav-drawer-icon-and-logo {
    height: 65px;
    min-width: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  button.hamburger {
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
  }

  button.hamburger:focus {
    outline: none;
  }

  .navigation-container {
    width: 350px;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 113px;
    padding-top: 8px;
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.25) 3px 6px 6px;
    overflow-y: scroll;
    z-index: 5;
    left: -375px;
    transition: all .15s ease .15s;
  }

  .is-open {
    left: 0px;
  }

    nav.nav-drawer {
      width: 100%;
    }

    h4 {
      padding: 9px 16px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .75px;
      line-height: 14px;
      margin: 0px;
      border: 0px;
      display: block;
    }

    hr {
      width: calc(100% - 32px);
      margin: 8px 16px;
      background: #dcdcdc;
      height: 1px;
      border: 0px;
    }
    
    .icon-nav-drawer {
      display: inline-block;
      height: 20px;
      width: 28px;
      // padding-right: 8px;
      background-repeat: no-repeat;
      vertical-align: middle;
    }

    .icon-puzzle-small {
      background-image: image-url('puzzle_small.svg');
    }
    
    .icon-mini-small {
      background-image: image-url('mini_small.svg');
    }
    
    .icon-bee {
      background-image: image-url('bee.svg');
    }

    .icon-tiles {
      background-image: image-url('tiles.svg');
    }

    .icon-letter-boxed {
      background-image: image-url('letter_boxed.svg');
    }

    .icon-vertex {
      background-image: image-url('vertex.svg');
    }

    .nav-drawer-link {
      display: block;
      position: relative;
      height: 40px;
      padding: 0px 16px 0px 12px;
      line-height: 40px;
      color: #000000;
      font-size: 15px;
      letter-spacing: 0.5px;
      border-left: 4px solid transparent;
      text-decoration: none;
      cursor: pointer;
    }
      .no-icon {
        height:36px;
        line-height: 36px;
      }

    .nav-drawer-link:hover {
      background-color: #f4f4f4;
    }

      .crossword-link:hover {
        border-left-color: #6493e6;
      }

      .stats-link:hover {
        border-left-color: #6493e6;
      }

      .mini-link:hover {
        border-left-color: #95befa;
      }

      .leaderboards-link:hover {
        border-left-color: #95befa;
      }

      .spelling-bee-link:hover {
        border-left-color: #f7da21;
      }

      .tiles-link:hover {
        border-left-color: #b5e352;
      }

      .letter-boxed-link:hover {
        border-left-color: #e05c56;
      }

      .vertex-link:hover {
        border-left-color: #00a2b3;
      }

      .all-games-link:hover {
        border-left-color: #000000;
      }

      .archives-link:hover {
        border-left-color: #000000;
      }

      .sudoku-link:hover {
        border-left-color: #fb9b00;
      }

      .wordnerd-link:hover {
        border-left-color: #000000;
      }

      .how-to-solve-link:hover {
        border-left-color: #000000;
      }

      .account-details-link:hover {
        border-left-color: #000000;
      }

    .nav-drawer-link-text {
      position: absolute;
      top: 2px;
    }

    .nav-drawer-account-actions {
      position: sticky;
      width: 100%;
      bottom: 0px;
      padding: 16px 0px;
      border-top: 1px solid #000000;
      box-shadow: rgba(0, 0, 0, .25) 0px 0px 10px;
     
      .session-nav-button {
        height: 40px;
        //here
        margin: 0px 8px;
      }
    }
      
    nav.user-nav-button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 12px;
      
      .session-nav-button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1.25px;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 3px;
        outline: none;
        padding: 4px 30px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
      
      .subscribe {
        background-color: #000000;
        color: #ffffff;
      }

      .subscribe:hover,
      .subscribe:active {
        background-color: #333333;
      }
      
      .login,
      .logout {
        background-color: #ffffff;
        color: #000000;
        // margin-left: 8px;
      }

      .logout {
        // flex: 1;
        border-color: #cccccc;
        margin: 0px 8px;
      }

      .login:hover,
      .login:active {
        background-color: #000000;
        color: #ffffff;
      }

      .logout:hover,
      .logout:active {
        color: #000000;
        background-color: #f4f4f4;
        outline-width: 0px;
      }

      .hidden {
        display: none;
      }
    }
  
    .banner-main-logo {
      flex: 3 2 auto;

      img {
        height: 30px;
        padding: 2px 0px;
      }

    }

    .top-banner-account-actions {

      .session-nav-button {
        height: 36px;
        margin-left: 8px;
      }

    }
  

}

header.banner-main-style {
  justify-content: space-between;
}

header.banner-form-style {
  justify-content: center;
}

header.banner-full-wrapper {
  display: block;
}
  