// Box
.wordcross-grid-box {
  position: relative;
  display: flex;
  box-sizing: border-box;
  border: solid 1px $black;
  background-color: $white;
  // width: 9vw; // maybe 50vw/no of boxes?
  // max-width: 9vh; // 
  // height: 9vh;
  // max-height: 9vw;
}

.active-entry-highlight {
  background-color: $clueHighlight;
}

.active-box-highlight {
  background-color: $activeBoxHighlight;
}

.wordcross-box-input {
  box-sizing: border-box;
  // width: 9vw; // maybe 50vw/no of boxes?
  // max-width: 9vh; // 
  // height: 9vh;
  // max-height: 9vw;
  flex-shrink: 1;
  border: none;
  outline: none;
  font-family: Franklin;
  // font-size: 50px; // needs to scale with box size
  text-align: center;
}

.black-box {
  background-color: $black;
}

.input-box {
  background-color: transparent;
}

.clue-number-label {
  position: absolute;
  // top: 5px;
  // left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  // font-size: 26px; // needs to scale with box size somewhat
  font-weight: 200;
}
