// Clue List

section.clue-list-container {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.clue-list-by-direction {
  display: flex;
  flex-direction: column;
  // flex-basis: 260px;
}

@media screen and (min-width: 1080px) {
  .clue-list-by-direction {
    height: 60vh;
    width: 50%;
    min-width: 233px;
  }
}

@media screen and (max-width: 1079px) {
  .clue-list-by-direction {
    height: 30vh;
    width: 100%;
    max-width: 560px;
  }
}

.clue-list-header {
  border-bottom: 1px solid #e6e6e6;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  width: 100%;
}

.clue-list {
  width: 100%;
  overflow-y: scroll;
}