// Clue List

section.clue-list-container {
  display: flex;
  flex-direction: row;;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  // border: solid 2px darkgreen;
}

.clue-list-by-direction {
  flex-basis: 260px;
  // border: solid 2px pink;
}

.clue-list-header {
  border-bottom: 1px solid #e6e6e6;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  width: 100%;
}

.clue-list {
  width: 100%;
}
