.current-active-clue-container {
  display: flex;
  align-items: center;
  background: $activeClueBG;
  width: 100%;
  min-width: 466px;
  min-height: 60px;
  font-size: 17px;
  margin-bottom: 10px;
}

.current-active-clue-label {
  display: inline-block;
  font-weight: 700;
  min-width: 60px;
  text-align: center;
  width: 60px;
}

.current-active-clue-text {
  display: inline-block;
  padding-right: 10px;
  line-height: 23px;
}

.blur-current-clue-text {
  color: $activeClueBlurText
}