.dashboard-section {
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 7px 1px 0 #2860d8;
  border-radius: 7px;
  margin: 15px;
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: #000000;

}
  .daily {
    width: 470px;
    height: 320px;
  }

  .micro,
  .other {
    height: 290px;
    width: 220px;
  }

.dashboard-section-click-area {
  text-decoration: none;

  .ribbon {
    visibility: hidden;
  }
}

.dashboard-section-click-area:hover {
  cursor: pointer;

  .ribbon {
    visibility: visible;
  }
}

.wordcross-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

  .subscriber {
    color: $black;
  }

  .non-subscriber {
    color: #959595;
  }

h3 {
  font-family: 'NYT Karnak Condensed';
  font-size: 35px;
  text-decoration: none;
  margin-bottom: 3px;
}

hr {
  width: 85%;
  border: 1px solid #e6e6e6;
}

.wordcross-date-text-wrapper {
  font-family: $fontSans;
  line-height: 1.3rem;
  font-weight: 200;
  font-size: 0.925rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  .daily-date-text-wrapper {
    letter-spacing: .7px;
    padding: 6px;
    font-size: 1rem;
  }

  .micro-date-text-wrapper {
    font-weight: 200;
    font-size: 0.925rem;
  }

}

.daily-wordcross-info-text-wrapper {
  font-family: $fontSans;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 30px;
  text-decoration: none;

  .emphatic {
    font-weight: 700;
    color: $bgBlue;
  }
}

.daily-wordcross-info-text-wrapper:hover {
    cursor: pointer;
    background-color: $bgBlue;
    border-radius: 30px;
    color: $white;

    .emphatic {
      color: $white;
    }
}

.other-puzzle-description {
  text-align: center;
  color: #959595;
  margin: 20px auto;
  font-size: 16px;
  line-height: 19px;
}
