.main-dashboard {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 1px;
  background-color: #4d88f9;
  order: 2;
}

.dashboard-sections-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// .dashboard-section {
//   box-sizing: border-box;
//   background-color: #ffffff;
//   box-shadow: 0px 7px 1px 0px #2860d8;
//   border-radius: 7px;
//   margin: 15px;
//   padding: 15px 24px;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: nowrap;
//   color: #000000;
  
// }
//   .daily-wordcross {
//     width: 470px;
//     height: 320px;
//   }
  
//   .micro-wordcross,
//   .other-puzzle {
//     height: 290px;
//     width: 220px;
//   }

// .dashboard-section-click-area {
//   text-decoration: none;

//   .ribbon {
//     visibility: hidden;
//   }
// }

// .dashboard-section-click-area:hover {
//   cursor: pointer;

//   .ribbon {
//     visibility: visible;
//   }
// }

// .wordcross-info-wrapper {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   text-decoration: none;
// }

//   .subscriber {
//     color: $black;
//   }

//   .non-subscriber {
//     color: #959595;
//   }


// hr {
//   width: 85%;
//   border: 1px solid #e6e6e6;
// }

// h3 {
//   font-family: 'NYT Karnak Condensed';
//   font-size: 35px;
//   text-decoration: none;
//   margin-bottom: 3px;
// }






// // INFO TEXT
// .daily-wordcross-info-text-wrapper {
//   font-family: $fontSans;
//   font-size: 15px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 7px 30px;
//   text-decoration: none;
  
//   .emphatic {
//     font-weight: 700;
//     color: $bgBlue;
//   }
// }

// .daily-wordcross-info-text-wrapper:hover {
//     cursor: pointer;
//     background-color: $bgBlue;
//     border-radius: 30px;
//     color: $white;

//     .emphatic {
//       color: $white;
//     }
// }

// .wordcross-date-text-wrapper {
//   font-family: $fontSans;
//   line-height: 1.3rem;
//   font-weight: 200;
//   font-size: 0.925rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-decoration: none;

//   .daily-date-text-wrapper {
//     letter-spacing: .7px;
//     padding: 6px;
//     font-size: 1rem;
//   }

//   .micro-date-text-wrapper {
//     font-weight: 200;
//     font-size: 0.925rem;
//   }

// }

// .daily-wordcross-date-text-wrapper {
//   // font-family: $fontSans;
//   letter-spacing: .7px;
//   padding: 6px;
//   // display: flex;
//   // flex-direction: column;
//   // align-items: center;
//   // justify-content: center;
//   // text-decoration: none;
//   font-size: 1rem;
//   // line-height: 1.3rem;
// }

// .micro-wordcross-date-text-wrapper {
  // font-family: $fontSans;
  // font-weight: 200;
  // font-size: 0.925rem;
  // line-height: 1.3rem;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // text-decoration: none;
// }



.dashboard-wordnerd-text-wrapper {
  display: block;
  width: 100%;
  text-align: center;
  margin: 30px 0px;
}

.dashboard-read-wordnerd-text {
  padding: 7px 30px;
  width: fit-content;
  text-align: center;
  color: $white;
  font-family: $fontSans;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  
}
.dashboard-read-wordnerd-text:hover {
  cursor: pointer;
  background-color: $bgBlueHover;
  border-radius: 30px;
}

.wordcross-byline {
  font-family: $fontSans;
  font-weight: 200;
  text-align: center;
  color: $bylineGray;
  margin: 10px 0px;
}

