.main-dashboard {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 1px;
  background-color: #4d88f9;
  order: 2;
}

.dashboard-sections-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dashboard-wordnerd-text-wrapper {
  display: block;
  width: 100%;
  text-align: center;
  margin: 30px 0px;
}

.dashboard-read-wordnerd-text {
  padding: 7px 30px;
  width: fit-content;
  text-align: center;
  color: $white;
  font-family: $fontSans;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}

.dashboard-read-wordnerd-text:visited {
  color: $white;
}

.dashboard-read-wordnerd-text:hover {
  cursor: pointer;
  background-color: $bgBlueHover;
  border-radius: 30px;
}

.wordcross-byline {
  font-family: $fontSans;
  font-weight: 200;
  text-align: center;
  color: $bylineGray;
  margin: 10px 0px;
}

