.session-form-outer-container {

  width: 100%;
  height: 100vh;
  background-color: $white;

  .session-form-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    // background-color: pink;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    // padding-top: 15px;
    margin: 0px auto;
  }

  h2 {
    font-family: $fontSerif;
    color: rgb(18, 18, 18);
    font-size: 22px;
    font-weight: 400;
    // line-height: 125%;
    text-align: center;
    margin: 0px;
    padding-bottom: 16px;
  }
  
  .session-form-demo-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $white;
    color: $black;
    border-radius: 3px;
    border: 1px solid #888888;
    width: 400px;
    height: 40px;
    margin: 4px auto;
    transition: all 0.15s ease-in 0s;
    cursor: pointer;
  }
  
  .session-form-demo-login:hover {
    background-color: #f7f7f7;
    color: #444444;
    transition: all 0.15s ease-in 0s;
  }
  
  .session-form-demo-login:active {
    background-color: #eeeeee;
    color: #767676;
    transition: all 0s ease 0s;
  }
  
  .demo-logo {
    height: 18px;
    width: 18px;
    margin: 0px 0px 2px 0px;
  }
  
  .banana-logo {
    height: 22px;
    width: 18px;
    margin: 0px 0px 2px 0px;
  }
  
  .demo-account-button-text {
    font-family: $fontSans;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 4px;
  }
  
  .session-form-separator {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-family: $fontSans;
    color: #666666;
    padding-top: 10px;
    margin: 0px;
  }
  
  .session-form-separator::before,
  .session-form-separator::after {
    display: inline-block;
    content: "";
    width: 140px;
    height: 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
  }
  
  .session-form-separator::before {
    margin-right: 8px;
  }
  
  .session-form-separator::after {
    margin-left: 8px;
  }
  
  input {
    font-size: 16px;
    font-family: $fontSans;
    box-sizing: border-box;
    height: 44px;
    // margin-bottom: 10px;
    padding: 0px 6px;
    // background-color: #e8f0fe;
    border: 1px solid #cccccc;
    transition: all 0.3s ease-in 0s;
    outline-color: #cccccc;
    border-radius: 3px;
  }

  input:focus {
    outline-color: #bcbcbc;
    // border-color: #a1a1a1;
    transition: all 0.3s ease-in 0s;
  }

  input.error {
    border-color:  $errorRed;
  }

  label {
    font-size: 12px;
    font-weight: 700;
    display: block;
    padding: 16px 0px 3px 0px;
    // margin: 2px 0px 3px 0px;

  }

  .form-field-error-message{
    color: $errorRed;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 0px 0px 0px;
  }
  
  .checkbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 8px 0px;
    font-size: 12px;
    line-height: 125%;
    font-weight: 500;
    color: #121212;
    
  }

  .checkbox-image {
    margin: 4px 8px 0px 0px;
    padding: 0px;
    height: 14px;
    width: 14px;
  }

  .checkbox-text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  // .checkbox-text,
  // .checkbox-link {
  //   display: inline-block;
  //   margin: 5px 0px 10px 0px;
  // }
  
  .checkbox-link {
    // text-decoration: underline;
    color: #121212;
    // margin: 10px 0px;
  }

  .session-form-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $black;
    color: $white;
    font-weight: 700;
    border-radius: 3px;
    border: 1px solid $black;
    width: 400px;
    height: 40px;
    margin: 5px auto 0px auto;
    cursor: pointer;

  }

  .session-form-submit:hover {
    background-color: #333333;
    border-color: #333333;
  }

  .session-form-submit:active {
    background-color: #666666;
    border-color: #666666;
    color: $black;
  }
  
  h4 {
    color: #333333;
    margin: 16px auto;
    letter-spacing: .6px;
  }

  .switch-link {
    font-weight: 700;
  }

}






    // transition: border-color 0.15s ease-in 0s;
