section.wordcross-container {
  display: block;
}

section.wordcross-header-board-and-clues {
  display: block;
}

section.wordcross-board-with-clues {
  display: flex;
  flex-direction: row;
  max-height: 660px;
  height: 100vh;
  max-width: 1132px;
  padding: 10px;
  align-content: flex-start;
  justify-content: space-around;
  margin: auto;
  // border: solid 2px fuchsia;
}

section.wordcross-current-clue-and-grid {
  padding: 10px;
  box-sizing: border-box;
  // border: solid 4px red;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 48%;
}

section.wordcross-clue-lists {
  font-family: Franklin;
  font-size: 14px;
  padding: 10px;
  // border: solid 4px lime;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 625px;
  width: 48%;
  box-sizing: border-box;
}


