body {
  display: block;
  position: relative;
  height: 100%;
  margin: 0px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.full-page {
  display: flex;
  flex-flow: column, nowrap;
  flex: 0px 0px auto;
  height: 100%;
}

header {
  display: block;
}

.page-header {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.125em 0.1875em;
}

.page-header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75em;
}

.page-header-logo-link {
  height: 1.5625em;
  width: 11.625em;
  margin-top: 0.2em;
  cursor: pointer;
  // text-decoration: underline; ??? 
}

.page-header-logo-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}